{% extends "base.html" %}

{% block announce %}
<div>
    <p>
        <strong>🎉 New release!</strong> <span style="margin-left: 20px;"> Checkout the latest versions for Frontend(<a href="/backstage-plugin-docs/release-notes/frontend/#0130">0.13.0</a>), Backend(<a href="/backstage-plugin-docs/release-notes/backend/#071">0.7.1</a>), Common(<a href="/backstage-plugin-docs/release-notes/common/#015">0.1.5</a>), Scaffolder Actions(<a href="/backstage-plugin-docs/release-notes/scaffolder-actions/#012">0.1.2</a>) and Entity Processor(<a href="/backstage-plugin-docs/release-notes/entity-processor/#010">0.1.0</a>) </span>
    </p>
</div>
{% endblock %}